.table-admin {

    position: relative;
    flex: 0 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .ui.label {
        margin: 0;
        font-size: 20px;
        position: absolute;
        top: 50px;
    }

    svg{
        height: 200px;
        width: 200px;
        
        &.busy {
            background-color: greenyellow;
            border-radius: 100px;
        }

        &.pending {
            background-color: rgb(235, 83, 83);
            border-radius: 100px;
        }
        &.pending-payment {
            background-color: aqua;
            border-radius: 50%;
        }
    }

}